.bg-color {
  background-color: #7a57fd;
}
.link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #fff !important;
  text-transform: unset !important;
}

