.botao {
  background: #ffd74f;
  box-shadow: 1px 3px 11px -3px rgba(255, 231, 150, 0.45);
  border-radius: 4px;
  width: 165px;
  height: 48px;
  border: none;

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #6f48ec;
}
