.badge {
  background-color: #cfc9e9;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 160%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  opacity: 0.8;
  width: 89.18px;
  height: 23.42px;
  left: 197px;
  top: 470px;
  background: #cfc9e9;
  border-radius: 4px;
}

#item h1 {
  font-family: 'Poppins', sans-serif; ;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #200E64;
}
